# Data Wrangling Project: OpenStreetMap Brooklyn Data Case Study

## Map area

Area of study:
Brooklyn, NY, United States

https://mapzen.com/data/metro-extracts/metro/brooklyn_new-york/
I just moved my daughter into a small apartment here. I know it's a densely packed area with lots of interesting features.

## Problems in the data

Problems encountered in the data include the following:

*   Overabbrieviated street names
*   Unrecognized or miscatagorized street names
*   Ill-formatted postal codes
*   Postcodes outside of Brooklyn

## Cleaning street name data

The code shown here is in the attached data files:

*   data_final.py: Parse the XML data, prepare for the SQL database, and write to CSV.

In [ ]:
import xml.etree.cElementTree as ET
import pprint
import re
from collections import defaultdict

Some regular expressions to search for common problems.

In [38]:
lower = re.compile(r'^([a-z]|_)*$')
lower_colon = re.compile(r'^([a-z]|_)*:([a-z]|_)*$')
problemchars = re.compile(r'[=\+/&<>;\'"\?%#$@\,\. \t\r\n]')

Downloaded data files for processing.  

Source: https://mapzen.com/data/metro-extracts/metro/brooklyn_new-york/

In [39]:
OSMFILE = '/Users/gdimino/python/osm_files/brooklyn_new-york.osm'
SAMPLE_FILE = '/Users/gdimino/python/osm_files/brooklyn_sample_k_100.osm'

Next, some code that iterates throught the xml elements and check the k attribute (street) for the common problems in defined in the regexes.

In [40]:
def key_type(element, keys):
    if element.tag == "tag":
        # NEW CODE HERE
        if (re.search(lower, element.attrib['k'])):
            keys['lower'] = keys['lower'] + 1
        elif (re.search(lower_colon, element.attrib['k'])):
            keys['lower_colon'] = keys['lower_colon'] + 1
        elif (re.search(problemchars, element.attrib['k'])):
            keys['problemchars'] = keys['problemchars'] + 1
        else:
            keys['other'] = keys['other'] + 1
    return keys

def iterparse_with_error(filename, xml):
    while True:
        try:
            yield next(ET.iterparse(filename))
        except StopIteration:
            raise
        except xml.parsers.expat.ExpatError, ex:
            print "excpetion: %s" % (ex)
            continue

def process_map(filename):
    keys = {"lower": 0, "lower_colon": 0, "problemchars": 0, "other": 0}
   # for _, element in iterparse_with_error(filename):
    for _, element in ET.iterparse(filename):

        keys = key_type(element, keys)

    return keys

Now, we'll run the audit code on the sample data, to

In [41]:
my_map = process_map(SAMPLE_FILE)

In [42]:
my_map

{'lower': 10445, 'lower_colon': 17479, 'other': 68, 'problemchars': 142}

In [43]:
def count_tags(filename):
        # New code here
        mytags = {}
        for event, el in ET.iterparse(filename):
             if el.tag in mytags:
                 mytags[el.tag] = mytags[el.tag] + 1
             else:
                 mytags[el.tag] = 1
        return mytags

In [44]:
my_tags = count_tags(SAMPLE_FILE)

In [45]:
my_tags

{'member': 311,
 'nd': 35138,
 'node': 24852,
 'osm': 1,
 'relation': 17,
 'tag': 28134,
 'way': 4904}

In [46]:
def unique_users(filename):
    users = set()
    for _, element in ET.iterparse(filename):
        if element.attrib.has_key('uid'):
          users.add(element.attrib['uid'])
    return users

In [47]:
user_set = unique_users(SAMPLE_FILE)

In [48]:
user_set

{'100643',
 '1006495',
 '102691',
 '1068690',
 '1072240',
 '108704',
 '109276',
 '1093326',
 '109362',
 '1110270',
 '113450',
 '11617',
 '119748',
 '119881',
 '120468',
 '12055',
 '120567',
 '123364',
 '1240849',
 '1263353',
 '127',
 '129614',
 '130472',
 '1306',
 '1311287',
 '13203',
 '134892',
 '1361318',
 '1361320',
 '1361327',
 '1376118',
 '1380816',
 '1403907',
 '1424765',
 '14293',
 '147510',
 '147851',
 '148169',
 '1494110',
 '153669',
 '1556219',
 '158826',
 '1611',
 '1624486',
 '165061',
 '165869',
 '1672350',
 '1679',
 '17068',
 '1714546',
 '1721804',
 '1732559',
 '1751737',
 '1758669',
 '1758854',
 '1764427',
 '1764514',
 '1769120',
 '1769121',
 '1772879',
 '1772882',
 '1772885',
 '1772886',
 '1772887',
 '1772888',
 '1772889',
 '1772890',
 '1772893',
 '1772901',
 '1772905',
 '1772933',
 '1773157',
 '1778799',
 '1781102',
 '1781294',
 '178186',
 '1782960',
 '1795644',
 '1812841',
 '1815736',
 '1816453',
 '1829683',
 '1851008',
 '1866507',
 '1868866',
 '1876172',
 '1886879',
 '1891499',
 '1894926',
 '1901963',
 '1917473',
 '19239',
 '1959770',
 '1972062',
 '1972103',
 '197905',
 '2011333',
 '2012449',
 '2015224',
 '2038900',
 '2043750',
 '2048238',
 '2052948',
 '2053369',
 '2060536',
 '207745',
 '210173',
 '2115749',
 '2147230',
 '2163609',
 '2176208',
 '2219338',
 '2219985',
 '2226712',
 '227415',
 '2359041',
 '2374057',
 '2377377',
 '238370',
 '2407563',
 '2408077',
 '24119',
 '2414538',
 '2418762',
 '2421157',
 '2421207',
 '242896',
 '24396',
 '2441939',
 '2508151',
 '2511706',
 '2512300',
 '252606',
 '25425',
 '2591427',
 '2601744',
 '262151',
 '26299',
 '26307',
 '2644101',
 '2644570',
 '2652515',
 '2657768',
 '2694484',
 '2748195',
 '2810694',
 '2818856',
 '2845963',
 '2847988',
 '29040',
 '2920270',
 '29320',
 '296920',
 '2974475',
 '298513',
 '2985232',
 '2985894',
 '3002055',
 '3029661',
 '305985',
 '310644',
 '3111727',
 '311318',
 '31299',
 '313014',
 '3151684',
 '3168236',
 '31855',
 '321862',
 '323757',
 '326503',
 '3272286',
 '3307109',
 '330773',
 '3339099',
 '3339194',
 '334742',
 '336460',
 '337270',
 '338119',
 '338611',
 '345833',
 '3459246',
 '35195',
 '3521724',
 '3522796',
 '355242',
 '355617',
 '3584',
 '360183',
 '3636245',
 '364790',
 '365944',
 '3711221',
 '37137',
 '3745064',
 '3779045',
 '381909',
 '3824943',
 '3842843',
 '384667',
 '3885962',
 '38868',
 '3911278',
 '392361',
 '3932716',
 '393359',
 '3962',
 '396743',
 '40023',
 '4081078',
 '416346',
 '4222804',
 '42429',
 '4256067',
 '4260227',
 '4293066',
 '439046',
 '445222',
 '445671',
 '45062',
 '451693',
 '45399',
 '454889',
 '461644',
 '4732',
 '479256',
 '479648',
 '48010',
 '49047',
 '510836',
 '5139',
 '51597',
 '51722',
 '521684',
 '52797',
 '53050',
 '53073',
 '5359',
 '550560',
 '552643',
 '563596',
 '564585',
 '57158',
 '579891',
 '589596',
 '59157',
 '595221',
 '599436',
 '60905',
 '615738',
 '623847',
 '624003',
 '627729',
 '628017',
 '632378',
 '643374',
 '646734',
 '651621',
 '667422',
 '67862',
 '689176',
 '691388',
 '693362',
 '696093',
 '69717',
 '715512',
 '716239',
 '71631',
 '72169',
 '722137',
 '722475',
 '73269',
 '741163',
 '745765',
 '74937',
 '81024',
 '83557',
 '837425',
 '840447',
 '86027',
 '860575',
 '90271',
 '909019',
 '91056',
 '9176',
 '92286',
 '938088',
 '940695',
 '95140',
 '9884',
 '99810'}

In [49]:
len(user_set)

292

In [50]:
full_user_set = unique_users(OSMFILE)

In [51]:
full_user_set

{'1361332',
 '2109958',
 '2406578',
 '461644',
 '4260227',
 '93788',
 '3330978',
 '576515',
 '1586627',
 '2176208',
 '239918',
 '2411240',
 '73269',
 '340102',
 '137124',
 '1829299',
 '2642214',
 '674438',
 '904598',
 '4732',
 '3397394',
 '2309492',
 '579990',
 '4160838',
 '1072240',
 '210173',
 '118021',
 '2163609',
 '2815098',
 '2808681',
 '2027261',
 '336460',
 '2414553',
 '2414554',
 '323054',
 '4085543',
 '128470',
 '927001',
 '408282',
 '537631',
 '1651149',
 '1795637',
 '610611',
 '1795639',
 '21927',
 '11617',
 '1851008',
 '2267074',
 '618377',
 '54552',
 '4141287',
 '3407412',
 '2644570',
 '622545',
 '346758',
 '2252969',
 '42123',
 '479256',
 '419214',
 '71823',
 '2820500',
 '123364',
 '459441',
 '2755657',
 '2481351',
 '510836',
 '1872273',
 '3339202',
 '989421',
 '45062',
 '2795656',
 '2644101',
 '2329944',
 '2255358',
 '2074114',
 '434368',
 '1876172',
 '779673',
 '23500',
 '168517',
 '651621',
 '3677802',
 '123633',
 '68540',
 '338611',
 '1042877',
 '2406156',
 '2725926',
 '3908351',
 '4332449',
 '31231',
 '1617449',
 '1915413',
 '682',
 '2118269',
 '4337469',
 '107257',
 '2959379',
 '2407563',
 '242896',
 '2347140',
 '130472',
 '4102408',
 '2430438',
 '103574',
 '60905',
 '1772890',
 '1772893',
 '3479270',
 '4317433',
 '574654',
 '1830426',
 '392361',
 '4234787',
 '4297796',
 '231111',
 '4202032',
 '1195216',
 '3636245',
 '3339197',
 '662958',
 '3339194',
 '722137',
 '3339192',
 '2146491',
 '1751518',
 '1721804',
 '1627334',
 '710590',
 '4002972',
 '3304902',
 '2500677',
 '1175301',
 '1795640',
 '476483',
 '1795645',
 '1795644',
 '4081078',
 '3029141',
 '865716',
 '2580428',
 '192786',
 '1195365',
 '463545',
 '4314705',
 '1966410',
 '2135320',
 '182051',
 '373873',
 '2053369',
 '2250135',
 '4331371',
 '138294',
 '251543',
 '419228',
 '1818334',
 '1803839',
 '2041550',
 '2511706',
 '1872240',
 '3961884',
 '1966255',
 '1611',
 '1380816',
 '71631',
 '1917265',
 '3693521',
 '2810669',
 '147510',
 '658642',
 '2694484',
 '483683',
 '3425069',
 '5446',
 '84486',
 '1962592',
 '1233790',
 '1835269',
 '2226712',
 '2038900',
 '433389',
 '24396',
 '338627',
 '78656',
 '2985894',
 '234566',
 '1771836',
 '13840',
 '1444926',
 '366429',
 '2012449',
 '2895989',
 '48940',
 '3100846',
 '305985',
 '1408522',
 '2219338',
 '2022039',
 '1383',
 '4230108',
 '1772886',
 '1772887',
 '1361318',
 '1772885',
 '1772882',
 '2430394',
 '2421207',
 '1772888',
 '1772889',
 '2416886',
 '1781294',
 '109276',
 '3507792',
 '1498581',
 '1894771',
 '1895688',
 '7538',
 '451693',
 '364',
 '2216794',
 '51597',
 '2933413',
 '3478684',
 '1247865',
 '1428795',
 '3168236',
 '1976015',
 '334742',
 '1802220',
 '392827',
 '120567',
 '499666',
 '38985',
 '1804091',
 '3569996',
 '3339183',
 '135163',
 '333167',
 '120146',
 '745765',
 '533465',
 '619550',
 '2655992',
 '146675',
 '1959633',
 '90488',
 '2917911',
 '5294',
 '1466395',
 '2554698',
 '2756797',
 '592017',
 '2849827',
 '147851',
 '1981965',
 '7203',
 '4303946',
 '3977024',
 '152289',
 '2086249',
 '285790',
 '3326124',
 '1443963',
 '2134551',
 '689386',
 '134892',
 '187467',
 '703517',
 '3877019',
 '179506',
 '3974369',
 '722475',
 '89943',
 '3822781',
 '837425',
 '2825096',
 '2749060',
 '233751',
 '1110270',
 '2381726',
 '2748195',
 '54759',
 '169004',
 '289916',
 '2557644',
 '62133',
 '4337109',
 '1848769',
 '614271',
 '158826',
 '3459246',
 '24126',
 '359227',
 '3618905',
 '1886879',
 '555746',
 '2421157',
 '402624',
 '8703',
 '14512',
 '221317',
 '1836015',
 '667073',
 '3705092',
 '404841',
 '170672',
 '2176164',
 '54872',
 '401102',
 '361348',
 '2177834',
 '3131266',
 '4151894',
 '87919',
 '1895149',
 '1214881',
 '74937',
 '1726068',
 '2735877',
 '155465',
 '544883',
 '560814',
 '115918',
 '1758854',
 '1845844',
 '1991447',
 '1651798',
 '1340699',
 '3806631',
 '3014407',
 '51045',
 '4362516',
 '52239',
 '3391634',
 '632378',
 '579128',
 '795049',
 '305730',
 '37392',
 '703728',
 '3108669',
 '969196',
 '90271',
 '3106097',
 '1624486',
 '3575520',
 '2644389',
 '2374469',
 '53964',
 '238898',
 '682839',
 '167417',
 '152074',
 '2498134',
 '113450',
 '2254920',
 '70696',
 '4114198',
 '2222727',
 '3430001',
 '2398122',
 '2595312',
 '1455973',
 '2813997',
 '59157',
 '620465',
 '94578',
 '964444',
 '91056',
 '1314388',
 '4229204',
 '160042',
 '2780798',
 '1981407',
 '701297',
 '699488',
 '3022031',
 '1889132',
 '620080',
 '584325',
 '1068690',
 '3846187',
 '3684746',
 '848720',
 '691388',
 '2430404',
 '1716867',
 '2473579',
 '61020',
 '1108251',
 '716309',
 '615738',
 '354412',
 '4040593',
 '3814551',
 '12448',
 '110991',
 '1736789',
 '393359',
 '2412184',
 '3002249',
 '436419',
 '634422',
 '155698',
 '3409384',
 '612391',
 '279897',
 '1306639',
 '2035462',
 '2617174',
 '286584',
 '1945200',
 '12055',
 '622906',
 '2374057',
 '2256726',
 '158340',
 '1',
 '2433401',
 '801242',
 '1758669',
 '337270',
 '13470',
 '2905914',
 '314075',
 '3830526',
 '4211189',
 '22925',
 '2190983',
 '686459',
 '408317',
 '1959507',
 '2430873',
 '2408072',
 '387654',
 '2408074',
 '2408077',
 '3992546',
 '135329',
 '1917473',
 '426323',
 '1862635',
 '83947',
 '2414544',
 '121748',
 '24119',
 '1924955',
 '168825',
 '1087647',
 '4095157',
 '290680',
 '368215',
 '2045264',
 '306962',
 '175600',
 '2377377',
 '238370',
 '1812841',
 '637394',
 '2377977',
 '15489',
 '4299840',
 '3269781',
 '2550668',
 '2434995',
 '564585',
 '2574230',
 '3454176',
 '2388744',
 '2229525',
 '563596',
 '1665879',
 '482167',
 '2676645',
 '526776',
 '1884075',
 '2964665',
 '25985',
 '643187',
 '1424765',
 '47253',
 '1916853',
 '471628',
 '398086',
 '161619',
 '1946138',
 '1830084',
 '92286',
 '2810163',
 '330773',
 '1889013',
 '352368',
 '4301405',
 '289591',
 '1407424',
 '2823295',
 '3406375',
 '1820305',
 '4281565',
 '26299',
 '200917',
 '411866',
 '3491533',
 '311102',
 '475877',
 '279576',
 '4183803',
 '355242',
 '614740',
 '1577157',
 '4157930',
 '177149',
 '356866',
 '424977',
 '16591',
 '25762',
 '100042',
 '1719931',
 '64578',
 '25504',
 '218042',
 '2952568',
 '3407826',
 '4256067',
 '10353',
 '1650222',
 '2093497',
 '102691',
 '2039372',
 '9176',
 '3779042',
 '3779045',
 '3885016',
 '4037581',
 '1988298',
 '173918',
 '42191',
 '759911',
 '2190577',
 '4499',
 '1296916',
 '46239',
 '1240849',
 '196617',
 '1866507',
 '58971',
 '3007205',
 '2418762',
 '1647511',
 '636389',
 '36121',
 '2196683',
 '3339099',
 '3354603',
 '161798',
 '2677435',
 '2478447',
 '2019868',
 '1894926',
 '83557',
 '34295',
 '2981281',
 '2927301',
 '599436',
 '451048',
 '1311287',
 '1751737',
 '40869',
 '1806751',
 '1011379',
 '4222804',
 '3111727',
 '2207216',
 '1829683',
 '4269073',
 '207745',
 '2727066',
 '1775887',
 '2430465',
 '1051550',
 '165061',
 '2073167',
 '1246310',
 '634620',
 '1313848',
 '2421058',
 '214969',
 '3911278',
 '1358140',
 '92387',
 '65148',
 '1093326',
 '4189566',
 '643374',
 '497887',
 '1765228',
 '77476',
 '3113495',
 '2835928',
 '2591427',
 '379590',
 '3660268',
 '162093',
 '4327700',
 '2974475',
 '1901963',
 '358210',
 '4289536',
 '1732559',
 '307520',
 '512903',
 '3779056',
 '2161227',
 '3779050',
 '52797',
 '445222',
 '1883664',
 '5164',
 '572757',
 '3842843',
 '1378793',
 '2652515',
 '13303',
 '500757',
 '2572053',
 '3522796',
 '81024',
 '2413830',
 '112398',
 '2858697',
 '2912933',
 '1213393',
 '10786',
 '791438',
 '727486',
 '3838405',
 '4119040',
 '2893188',
 '3066544',
 '290157',
 '1381150',
 '840226',
 '3593587',
 '1029522',
 '3272286',
 '3696722',
 '48010',
 '3040840',
 '4006925',
 '1441740',
 '3920109',
 '2677535',
 '1868866',
 '3100094',
 '433426',
 '4157045',
 '837066',
 '7168',
 '2922497',
 '2845963',
 '3526564',
 '4172635',
 '1384038',
 '1401762',
 '310644',
 '288774',
 '1764514',
 '451047',
 '516261',
 '1781102',
 '2451983',
 '3812235',
 '1978611',
 '1836059',
 '313014',
 '129614',
 '289600',
 '2601744',
 '4063664',
 '577475',
 '4282448',
 '1964314',
 '705643',
 '696093',
 '527535',
 '15398',
 '3426369',
 '2381972',
 '339581',
 '3866698',
 '638183',
 '2219985',
 '2653809',
 '2010856',
 '220395',
 '716239',
 '3306918',
 '3324103',
 '2369650',
 '2021533',
 '3875299',
 '441074',
 '231017',
 '3801518',
 '119748',
 '6657',
 '3361954',
 '31855',
 '3913914',
 '2428494',
 '38487',
 '49047',
 '741163',
 '2375827',
 '74248',
 '42429',
 '3977118',
 '3907091',
 '293012',
 '57577',
 '3584',
 '352985',
 '4200783',
 '499549',
 '246813',
 '999',
 '693362',
 '323757',
 '326503',
 '4951',
 '790331',
 '24121',
 '5139',
 '1449349',
 '384894',
 '13203',
 '757042',
 '1330847',
 '172061',
 '3469844',
 '2344498',
 '1750383',
 '2847988',
 '3948239',
 '2075064',
 '2613419',
 '1213904',
 '2981914',
 '2060536',
 '5359',
 '1697',
 '3012240',
 '771165',
 '591186',
 '131996',
 '2813104',
 '734738',
 '1811964',
 '2407516',
 '345833',
 '3029661',
 '3649915',
 '39457',
 '1443886',
 '1961089',
 '29061',
 '1306',
 '2282001',
 '103782',
 '2346628',
 '1671611',
 '2029310',
 '715512',
 '2300163',
 '2314567',
 '2015224',
 '1425285',
 '200922',
 '1337142',
 '8339',
 '2786613',
 '412585',
 '4082796',
 '96268',
 '153669',
 '110263',
 '1210020',
 '3412719',
 '813135',
 '2712368',
 '3655152',
 '646734',
 '3922575',
 '1430265',
 '4049',
 '3389275',
 '2962343',
 '190869',
 '3984278',
 '3984279',
 '32360',
 '1429627',
 '674495',
 '311318',
 '2294327',
 '524500',
 '891940',
 '412969',
 '292007',
 '1926829',
 '1004572',
 '3295692',
 '2016039',
 '909019',
 '1047795',
 '1047799',
 '2603970',
 '2065004',
 '3349068',
 '3349067',
 '613256',
 '2139252',
 '2414535',
 '3153457',
 '2414538',
 '3033482',
 '914179',
 '3253363',
 '1058666',
 '911098',
 '1476146',
 '3435069',
 '2758',
 '317014',
 '538856',
 '1917941',
 '45009',
 '306038',
 '45399',
 '381909',
 '2424765',
 '840447',
 '1564100',
 '2383805',
 '160949',
 '2508151',
 '2890549',
 '3151684',
 '4370891',
 '178186',
 '380524',
 '364790',
 '2726272',
 '132524',
 '394697',
 '31299',
 '3183804',
 '487141',
 '2657768',
 '18015',
 '3803024',
 '2142882',
 '4049575',
 '39463',
 '15686',
 '76002',
 '634189',
 '1101924',
 '238584',
 '2011333',
 '2011335',
 '4360171',
 '2011337',
 '2011336',
 '1694420',
 '3896663',
 '3119297',
 '3570318',
 '228995',
 '2847456',
 '86027',
 '32952',
 '625880',
 '3727504',
 '3002055',
 '1937368',
 '2939987',
 '2957995',
 '262151',
 '439046',
 '2814663',
 '745841',
 '2842003',
 '2256579',
 '1772879',
 '448428',
 '150272',
 '100643',
 '2363230',
 '181135',
 '16885',
 '150692',
 '19697',
 '2147230',
 '179581',
 '125832',
 '1778799',
 '1955324',
 '579891',
 '1772905',
 '3606991',
 '1772901',
 '81213',
 '1476553',
 '2287109',
 '2512300',
 '1047783',
 '1047786',
 '1047787',
 '1047788',
 '1047789',
 '10642',
 '53050',
 '321862',
 '2381680',
 '2708483',
 '3636222',
 '2963332',
 '81676',
 '3826349',
 '2722818',
 '3613189',
 '745333',
 '775666',
 '17068',
 '2688326',
 '4077363',
 '589499',
 '3627372',
 '244618',
 '3224033',
 '2101257',
 '473104',
 '143002',
 '3816764',
 '667422',
 '190676',
 '94712',
 '290437',
 '121440',
 '1672350',
 '3838326',
 '2588318',
 '2539592',
 '2677380',
 '1201956',
 '572788',
 '2032478',
 '3537822',
 '940695',
 '2845910',
 '1978234',
 '1785831',
 '257555',
 '68982',
 '1679',
 '1961753',
 '3122044',
 '1554107',
 '351293',
 '1817244',
 '3824943',
 '1376118',
 '290616',
 '29687',
 '454889',
 '355617',
 '747352',
 '1888264',
 '29040',
 '1961338',
 '3941081',
 '1486839',
 '369983',
 '67862',
 '1952924',
 '580516',
 '3896673',
 '1789566',
 '901723',
 '3745073',
 '2510382',
 '1541236',
 '4224147',
 '24440',
 '634202',
 '4048453',
 '2374030',
 '460733',
 '1717802',
 ...}

In [52]:
len(full_user_set)

1410

In [53]:
expected = ["Street", "Avenue", "Boulevard", "Drive", "Court", "Place", "Square", "Lane", "Road", 
            "Trail", "Parkway", "Commons"]

# expected = expected + ["Expressway", "Terrace"]

street_type_re = re.compile(r'\b\S+\.?$', re.IGNORECASE)


def audit_street_type(street_types, street_name):
    m = street_type_re.search(street_name)
    if m:
        street_type = m.group()
        if street_type not in expected:
            street_types[street_type].add(street_name)
    else:
        street_type = 'ERROR'
 #   print street_type
    
    
def is_street_name(elem):
    return (elem.attrib['k'] == "addr:street")


def audit(osmfile):
    osm_file = open(osmfile, "r")
    street_types = defaultdict(set)
    for event, elem in ET.iterparse(osm_file, events=("start",)):

        if elem.tag == "node" or elem.tag == "way":
            for tag in elem.iter("tag"):
                if is_street_name(tag):
                    audit_street_type(street_types, tag.attrib['v'])
    osm_file.close()
    return street_types

In [54]:
odd_streets = audit(SAMPLE_FILE)

In [55]:
odd_streets

defaultdict(set,
            {'A': {'Avenue A'},
             'Americas': {'Avenue Of The Americas'},
             'B': {'Avenue B'},
             'Bayside': {'Bayside'},
             'Bowery': {'Bowery'},
             'Broadway': {'Broadway',
              'East Broadway',
              'W. Broadway',
              'West Broadway'},
             'C': {'Avenue C'},
             'Crescent': {'Boelsen Crescent',
              'Ellwell Crescent',
              'Mt Olivet Crescent'},
             'D': {'Avenue D'},
             'East': {'Union Square East'},
             'F': {'Avenue F'},
             'Finest': {'Avenue Of The Finest'},
             'H': {'Avenue H'},
             'Hamilton': {'Fort Hamilton'},
             'Highway': {'Kings Highway'},
             'I': {'Avenue I'},
             'J': {'Avenue J'},
             'K': {'Avenue K'},
             'L': {'Avenue L'},
             'M': {'Avenue M'},
             'N': {'Avenue N'},
             'North': {'Barlow Drive North',
              'Greenway North',
              'Queens Midtown Expressway Service Road North',
              'Village Road North'},
             'O': {'Avenue O'},
             'Oval': {'Stuyvesant Oval'},
             'P': {'Avenue P'},
             'Park': {'Gramercy Park', 'Washington Park'},
             'Promenade': {'Ocean Promenade'},
             'R': {'Avenue R'},
             'Roadbed': {'Linden Boulevard Eb Roadbed'},
             'S': {'Avenue S'},
             'South': {'Barlow Drive South',
              'Juniper Boulevard South',
              'Mayfair Drive South',
              'Park Lane South'},
             'Southwest': {'Prospect Park Southwest'},
             'St': {'1st St'},
             'T': {'Avenue T'},
             'Terrace': {'Bay Cliff Terrace', 'Brighton 1st Terrace'},
             'Turnpike': {'Union Turnpike'},
             'U': {'Avenue U'},
             'V': {'Avenue V'},
             'W': {'Avenue W'},
             'Walk': {'Brant Walk',
              'Brighton 3rd Walk',
              'Clinton Walk',
              'Kildare Walk',
              'Kingsborough 5th Walk',
              'Lafayette Walk',
              'Lincoln Walk',
              'Monument Walk',
              'Pelham Walk',
              'Roosevelt Walk'},
             'West': {'Fdr Drive Service Road West', 'Prospect Park West'},
             'X': {'Avenue X'},
             'Y': {'Avenue Y'},
             'Z': {'Avenue Z'}})

This gives some good ideas of things to add to expected: Walk, Way, Turnpike, Terrace, Plaza, Park, Esplenade,Concourse, Mews

In [57]:
expected = expected + ['Concourse', 'Esplenade', 'Mews', 'Park', 'Plaza', 'Turnpike', 'Walk', 'Way']

In [58]:
full_street_types = audit(OSMFILE)

In [63]:
full_street_types

defaultdict(set,
            {'1': {'Graham Avenue #1'},
             '109': {'Avenue of the Americas #109'},
             '11217': {'305 Schermerhorn St., Brooklyn, NY 11217'},
             '1st': {'1st'},
             '218650358': {'218650358'},
             '3': {'Hanover Square #3'},
             '300': {'Ste 300'},
             '4B': {'Union Avenue 4B'},
             '506': {'Broadway #506'},
             '861': {'861'},
             'A': {'Avenue A'},
             'Alley': {'Cortlandt Alley',
              'Exchange Alley',
              'Freeman Alley',
              'Grace Court Alley',
              'Harrison Alley',
              'Mac Dougal Alley',
              'Theater Alley'},
             'Americas': {'Avenue Of The Americas',
              'Avenue of the Americas',
              'Avenue of the Americas\n'},
             'Atrium': {'Broadway Atrium'},
             'Ave': {'4th Ave',
              '5th Ave',
              '6th Ave',
              'Norman Ave',
              'Park Ave'},
             'Ave.': {'Washington Ave.'},
             'Avene': {'Nostrand Avene'},
             'Avenue,': {'70th Avenue,'},
             'B': {'Avenue B'},
             'Bayside': {'Bayside'},
             'Blvd': {'Marin Blvd', 'Queens Blvd', 'Woodhaven Blvd'},
             'Bowery': {'Bowery', 'The Bowery'},
             'Broadway': {'Broadway',
              'East Broadway',
              'W. Broadway',
              'West Broadway'},
             'Bushwick': {'Bushwick'},
             'C': {'2nd Street #C', 'Avenue C'},
             'Center': {'Metrotech Center',
              'One World Trade Center',
              'World Financial Center',
              'World Trade Center'},
             'Circle': {'Hamilton Circle', 'Middlemay Circle'},
             'Clinton': {'Clinton'},
             'Close': {'Fairway Close', 'Ivy Close'},
             'Crescent': {'Asquith Crescent',
              'Boelsen Crescent',
              'Cromwell Crescent',
              'Dieterle Crescent',
              'Ellwell Crescent',
              'Mt Olivet Crescent',
              'Slocum Crescent'},
             'Ctr': {'Harborside Fin Ctr'},
             'D': {'Avenue D'},
             'East': {'Anthony J Falco Square East',
              'Boardwalk East',
              'Cadman Plaza East',
              'Fdr Drive Service Road East',
              'Gouverneur Slip East',
              'Gramercy Park East',
              'Marginal St East',
              'Oceana Drive East',
              'Park Drive East',
              'Plaza Street East',
              'Union Square East',
              'Village Road East',
              'Washington Square East',
              'Williamsburg Street East'},
             'Expressway': {'Horace Harding Expressway'},
             'Extension': {'Eastern Parkway Extension',
              'Flatbush Avenue Extension'},
             'F': {'Avenue F'},
             'Finest': {'Avenue Of The Finest'},
             'Floor': {'Wall Street 12th Floor'},
             'Floor)': {'Manhattan Avenue (2nd Floor)'},
             'Fulton': {'Old Fulton'},
             'Gardens': {'Colonial Gardens'},
             'Gratta': {'Gratta'},
             'H': {'Avenue H'},
             'Hamilton': {'Fort Hamilton'},
             'Heights': {'Columbia Heights'},
             'Highway': {'Kings Highway'},
             'I': {'Avenue I'},
             'Island': {'Governors Island'},
             'J': {'Avenue J'},
             'K': {'Avenue K'},
             'L': {'Avenue L'},
             'Loop': {'14th Street Loop',
              'Ardsley Loop',
              'Bethel Loop',
              'Croton Loop',
              'Delmar Loop',
              'Elmira Loop',
              'Freeport Loop',
              'Geneva Loop',
              'Hornell Loop',
              'Sheridan Loop'},
             'M': {'Avenue M'},
             'Macdougal': {'Macdougal'},
             'Mall': {'Centre Mall'},
             'MetroTech': {'MetroTech'},
             'N': {'Avenue N'},
             'North': {'Barlow Drive North',
              'Gaylord Drive North',
              'Gramercy Park North',
              'Greenway North',
              'Horace Harding Expressway Service Road North',
              'Juniper Boulevard North',
              'Marshall Drive North',
              'Mayfair Drive North',
              'Paerdegat Avenue North',
              'Queens Midtown Expressway Service Road North',
              'Shore Parkway Sr North',
              'Village Road North',
              'Washington Square North'},
             'O': {'Avenue O'},
             'Oval': {'Grand Army Plaza Oval', 'Stuyvesant Oval'},
             'P': {'Avenue P'},
             'PH': {'Harrison Street Suite PH'},
             'Path': {'Brighton 10th Path',
              'Brighton 1st Path',
              'Brighton 2nd Path'},
             'Piers': {'Northside Piers'},
             'Plz': {'University Plz'},
             'Promenade': {'Ocean Promenade'},
             'R': {'Avenue R'},
             'Rb': {'Linden Boulevard Outer Eb Rb'},
             'Rd': {'Aviation Rd'},
             'Remsen': {'Remsen'},
             'Reservation': {'Beach Reservation'},
             'Rico': {'Avenue Of Puerto Rico'},
             'Roadbed': {'4th Avenue Southbound Roadbed',
              'Delancey Street Eb Roadbed',
              'Delancey Street Wb Roadbed',
              'Gateway Drive Westbound Roadbed',
              'Kings Highway Westbound Roadbed',
              'Linden Boulevard Eb Roadbed',
              'Ocean Parkway Southbound Roadbed',
              'Pennsylvania Avenue Nb Roadbed',
              'Queens Boulevard Wb Roadbed'},
             'Rockaways': {'Hillside Avenue Rockaways'},
             'Row': {'Park Row'},
             'S': {'Avenue S', 'Horace Harding Expressway Sr S'},
             'ST': {'N 9th ST'},
             'Slip': {'Catherine Slip',
              'Coenties Slip',
              'Old Slip',
              'Peck Slip',
              'Pike Slip',
              'Rutgers Slip'},
             'South': {'7th Avenue South',
              'Barlow Drive South',
              'Craig Road South',
              'Delancey St South',
              'Gaylord Drive South',
              'Gramercy Park South',
              'Greenway South',
              'Horace Harding Expressway Service Road South',
              'Juniper Boulevard South',
              'Marshall Drive South',
              'Mayfair Drive South',
              'Mc Guinness Boulevard South',
              'Paerdegat Avenue South',
              'Park Avenue South',
              'Park Lane South',
              'Queens Midtown Expressway Service Road South',
              'River Drive South',
              'Shore Parkway Sr South',
              'Village Road South',
              'Washington Square South'},
             'Southwest': {'Prospect Park Southwest'},
             'St': {'1st St',
              '2nd St',
              '362nd Grand St',
              '8th St',
              '9th St',
              'Adams St',
              'Bloomfield St',
              'Clinton St',
              'E 15th St',
              'Garden St',
              'Grand St',
              'Hudson St',
              'Jackson St',
              'Jefferson St',
              'Madison St',
              'Monroe St',
              'N 7th St',
              'Newark St',
              'River St',
              'Schermerhorn St',
              'Smith St & Bergen St',
              'State St & Water St',
              'Union St',
              'Washington St'},
             'St.': {'11th St.',
              '9th St.',
              'Devoe St.',
              'Harrison St.',
              'Henry St.',
              'Schermerhorn St.',
              'South 4th St.',
              'Warren St.',
              'Washington St.'},
             'Steet': {'West 8th Steet'},
             'Streeet': {'Johnson Streeet'},
             'T': {'Avenue T'},
             'Terrace': {'56th Terrace',
              'Albemarle Terrace',
              'Banner 3rd Terrace',
              'Barwell Terrace',
              'Bay Cliff Terrace',
              'Bliss Terrace',
              'Brighton 10th Terrace',
              'Brighton 1st Terrace',
              'Brighton 4th Terrace',
              'Greenway Terrace',
              'Harbor View Terrace',
              'Kenmore Terrace',
              'Lincoln Terrace',
              'Losee Terrace',
              'Louise Terrace',
              'Montague Terrace',
              'Oceana Terrace',
              'Park End Terrace',
              'Perry Terrace',
              'Ridgecrest Terrace',
              'River Terrace',
              'Roxbury Terrace',
              'Tudor Terrace',
              'Wogan Terrace'},
             'U': {'Avenue U'},
             'V': {'Avenue V'},
             'Vanderbilt': {'Vanderbilt'},
             'Village': {'Washington Square Village'},
             'W': {'Avenue W'},
             'Warren': {'Warren'},
             'West': {'Boardwalk West',
              'Cadman Plaza West',
              'Fdr Drive Service Road West',
              'Gouverneur Slip West',
              'Gramercy Park West',
              'Grand Central Parkway Service Road West',
              'Marginal Street West',
              'Oceana Drive West',
              'Plaza St West',
              'Prospect Park West',
              'Union Square West',
              'Washington Square West',
              'Williamsburg Street West'},
             'Willoughby': {'Willoughby'},
             'X': {'Avenue X'},
             'Y': {'Avenue Y'},
             'Z': {'Avenue Z'},
             'ave': {'5th ave'},
             'avenue': {'2nd avenue', 'Bedford avenue', 'Utica avenue'},
             'bus_stop': {'bus_stop'},
             'rivington': {'rivington'},
             'st': {'South 4th st', 'Union st'},
             'street': {'5th street',
              'Columbia street',
              'East 5th street',
              'Hudson street',
              'Lafayette street',
              'Mott street',
              'Mulberry street',
              'Pearl street',
              'Rivington street',
              'Union street',
              'mott street'}})

Now, we can fix some of the common problems.  Let's create a mapping to fix them, and then a function to apply the fix.  We also notice that some street names end it punctuation, so let's strip that.

## Building the mySQL database


SQL for building the tables:
https://gist.github.com/swwelch/f1144229848b407e0a5d13fcb7fbbd6f

Sample MySQL command for loading the CSVs into the tables:

`mysql> load data local infile '/Users/gdimino/python/osm_files/nodes_tags.csv' into table nodes_tags fields terminated by ',';`


Problems:
*   data.py wrote files in dos format.
*   forgot to remove the first line.

Fixed the problems in the source files and reran the command.

Now, let's check that we have all the tables we need and get ready to query the database.

```
mysql> show tables;

+-------------------------+

| Tables_in_brooklyn_full |

+-------------------------+

| nodes                   |

| nodes_tags              |

| ways                    |

| ways_nodes              |

| ways_tags               |

+-------------------------+

5 rows in set (0.00 sec)
```

## Postal codes

### Looking at postcodes

Here's a query of postcodes ordered by frequency:


```
mysql> SELECT tags.value, COUNT(*) as count 
FROM (SELECT * FROM nodes_tags 
UNION ALL 
SELECT * FROM ways_tags) tags
WHERE tags.key='postcode'
GROUP BY tags.value
ORDER BY count DESC;

+----------------+-------+
| value          | count |
+----------------+-------+
| 11234          | 20139 |
| 11236          | 15226 |
| 11385          | 15091 |
| 11229          | 12542 |
| 11203          | 11773 |
| 11207          | 11176 |
| 11208          | 11131 |
| 11223          | 10756 |
| 11214          | 10052 |
| 11204          |  9897 |
| 11215          |  9565 |
| 11219          |  9474 |
| 11221          |  9397 |
| 11210          |  9322 |
| 11209          |  9212 |
| 11220          |  9186 |
| 11379          |  8708 |
| 11235          |  8616 |
| 11228          |  8593 |
| 11230          |  8506 |
| 11378          |  8132 |
| 11233          |  8010 |
| 11375          |  7684 |
| 11218          |  7230 |
| 11212          |  6753 |
| 11421          |  6382 |
| 11216          |  6381 |
| 11211          |  6376 |
| 11226          |  6144 |
| 11222          |  6117 |
| 11417          |  5569 |
| 11206          |  5478 |
| 11213          |  5314 |
| 11414          |  4918 |
| 11231          |  4916 |
| 11238          |  4696 |
| 11237          |  4566 |
| 11217          |  4522 |
| 11416          |  4135 |
| 11225          |  4099 |
| 11201          |  3942 |
| 11694          |  3461 |
| 11374          |  3428 |
| 11418          |  3351 |
| 11373          |  3307 |
| 11205          |  3248 |
| 11232          |  3216 |
| 11224          |  2831 |
| 11697          |  2742 |
| 11377          |  2520 |
| 10003          |  2503 |
| 10002          |  2421 |
| 10014          |  2375 |
| 10013          |  2139 |
| 11249          |  2007 |
| 10009          |  1661 |
| 10012          |  1533 |
| 10011          |   943 |
| 10038          |   643 |
| 11419          |   539 |
| 11368          |   480 |
| 11101          |   399 |
| 10007          |   343 |
| 10010          |   336 |
| 10004          |   313 |
| 11104          |   295 |
| 10005          |   206 |
| 11239          |   150 |
| 11415          |   148 |
| 10006          |   131 |
| 07302          |    61 |
| 10280          |    37 |
| 10282          |    36 |
| 11367          |    14 |
| 10281          |     9 |
| 07030          |     9 |
| 10001          |     8 |
| 11224-4003     |     5 |
| 10048          |     4 |
| 11251          |     3 |
| 07310          |     3 |
| 10275          |     2 |
| 07311          |     2 |
| 10016          |     2 |
| 11420          |     2 |
| 11201-2483     |     1 |
| 07030-5774     |     1 |
| NY 11201       |     1 |
| 10011-6832     |     1 |
| NY 10002       |     1 |
| NY 11221       |     1 |
| 10012-3332     |     1 |
| (718) 778-0140 |     1 |
| 10018          |     1 |
| NY 10003       |     1 |
| 1011           |     1 |
| 11215-9993     |     1 |
| 11201;11231    |     1 |
| 11231;11230    |     1 |
| 11214;11223    |     1 |
| 11232-2400     |     1 |
| 10023          |     1 |
| 10002-1013     |     1 |
+----------------+-------+
103 rows in set (25.03 sec)
```

#### Problems
You can see quite a few problems, and opportunities for further data cleansing.  For example:

   * The state name in the postcode field.
   * A telephone number in the postcode field
   
There is a further anomaly: Not all of those postal codes are in Brooklyn!  Some are in Manhattan (start w/ 10 instead of 11). Some are even in NJ (start 07)!

Looking at the zipcode map: https://www.unitedstateszipcodes.org/ny/

...you can see that if you draw a rectangle that contains all of Brooklyn, you will end up including bits of lower Manhattan and even part of Jersey City.  Since those are the zipcodes that are included here, I am postulating that something similar accounts for these postcodes being in the Brooklyn dataset.

But, for a rectangle, you'd expect to see more of those postcodes than you do, so I'm guessing it is a polygon with more sides, taking in smaller slivers of Manhattan and Jersey City.

So, here's another opportunity to improve the data--remove the nodes that are not actually in Brooklyn!

### Top amenities


```
mysql> select value, count(*) as num  from nodes_tags where `key`='amenity' group by value order by num desc limit 25;
mysql> SELECT value, COUNT(*) as num
  FROM nodes_tags
  WHERE `key`='amenity'
  GROUP BY value
  ORDER BY num DESC
  LIMIT 10;

+------------------+------+
| value            | num  |
+------------------+------+
| bicycle_parking  | 2817 |
| restaurant       |  858 |
| place_of_worship |  366 |
| school           |  360 |
| cafe             |  286 |
| bench            |  263 |
| bicycle_rental   |  261 |
| bar              |  176 |
| fast_food        |  175 |
| fire_station     |  121 |
+------------------+------+
10 rows in set (0.25 sec)
```

### Restaurants by type

```
mysql> SELECT nodes_tags.value, COUNT(*) as num 
FROM nodes_tags      
JOIN (SELECT(id) FROM nodes_tags WHERE value='restaurant') i     
ON nodes_tags.id=i.id WHERE nodes_tags.key='cuisine' 
GROUP BY nodes_tags.value 
ORDER BY num DESC 
LIMIT 20;

+----------------------------------------------+-------+
| value                                        | num   |
+----------------------------------------------+-------+
| pizza                                        | 42292 |
| coffee_shop                                  | 39368 |
| mexican                                      | 34998 |
| american                                     | 32087 |
| burger                                       | 29889 |
| italian                                      | 29168 |
| chinese                                      | 24061 |
| sandwich                                     | 19684 |
| french                                       | 14584 |
| thai                                         | 13123 |
| sushi                                        | 11665 |
| japanese                                     | 10939 |
| indian                                       |  8749 |
| vietnamese                                   |  7290 |
| asian                                        |  6562 |
| russian                                      |  6561 |
| donut                                        |  5832 |
| chicken                                      |  5104 |
| ice_cream                                    |  5103 |
| barbecue                                     |  5103 |
+----------------------------------------------+-------+
```

### Places of worship by religion

```
SELECT nodes_tags.value, COUNT(*) as num
FROM nodes_tags 
JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value='place_of_worship') i
ON nodes_tags.id=i.id
WHERE nodes_tags.key='religion'
GROUP BY nodes_tags.value
ORDER BY num DESC;

+-----------+-----+
| value     | num |
+-----------+-----+
| christian | 293 |
| jewish    |  45 |
| muslim    |   7 |
| buddhist  |   4 |
| hindu     |   3 |
+-----------+-----+
```

### What types of religious schools are represented?


```
mysql> SELECT nodes_tags.value, COUNT(*) as num
    -> FROM nodes_tags 
    ->     JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value='school') i
    ->     ON nodes_tags.id=i.id
    -> WHERE nodes_tags.key='religion'
    -> GROUP BY nodes_tags.value
    -> ORDER BY num DESC;
+-----------+-----+
| value     | num |
+-----------+-----+
| christian |  15 |
| jewish    |   4 |
| hindu     |   3 |
| muslim    |   3 |
+-----------+-----+
4 rows in set (0.44 sec)
```

Most